<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('components/header'); %>
    <title>Task</title>
  </head>

  <body>
    <main>
      <div class="container">
        <div class="loginContainer center-box">
          <h1>Just Landed ?</h1>
          <div>
            <h1 class="text-muted">Please checkout  the below links</h1>
            <div style="display: flex;justify-content: space-between; margin-top: 40px;">
              <a type="button" class="btn btn-success" href="v1/users/login" style="width: 100%;margin-right: 20px;">LOGIN</a>
              <a type="button" class="btn btn-secondary" href="v1/users/register" style="width: 100%;margin-left: 20px;">REGISTER</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%-include('components/scripts'); %>
  </body>
</html>
