<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../components/header'); %>
    <title>Login</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="loginContainer center-box">
          <h3 class="text-center mt-40">LOGIN</h3>

          <div class="row justify-content-center width-100">
            <div class="col-md-6">
              <form id="loginForm">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" />
                </div>

                <button type="button" class="btn btn-success" id="loginBtn">LOGIN</button>
                <button type="button" class="btn btn-secondary" id="userBtn">USER DETAILS</button>
              </form>
              <small class="note">** You can access user details only after a successfull login</small><br />
              <small class="note">~~ Find the user details in the console</small>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%-include('../components/scripts'); %>
  </body>
</html>
